@{
  Layout="Shared/_Layout.cshtml";
}
<header>
  <nav>
    <ul id="navLeft">
      <li><a href="#search">Search</a></li>
      <li><a href="campaigns.html">Campaigns</a></li>
    </ul>
    <div>
      <a href="/"><img src="../Content/img/logo.png" class="logo" alt="logo"></a>
    </div>
    <ul id="navRight">
      @if (@Model["currentUser"] != null)
      {
        <li><a href="/profile/@Model["currentUser"].Id">My Profile</a></li>
      }
      <li><a href="/login">Log-In/Sign-Up</a></li>
      <li><a href="/login">Log-Out</a></li>
    </ul>
  </nav>
  <div class="hamburger" id="hamburger">
    <span class="line"></span>
    <span class="line"></span>
    <span class="line"></span>
  </div>
</header>
<section class="individualCampaign">
  <h2>@Model["selectedCampaign"].Name</h2>
  @if(@Model["donations"].Count != 0)
  {
    <h3> by @Model["donations"][0]["owner"].Name </h3>
  }
  <div class="individual" >
    <article>
      <img src="http://via.placeholder.com/450x300" alt="" />
      <ul>
        <li><a href="#"><img src="../../Content/img/twitter.png" alt="" /></a></li>
        <li><a href="#"><img src="../../Content/img/facebook.png" alt="" /></a></li>
      </ul>
    </article>
    <article>
      <div class="progressBar"></div>
      <h3>$<span>@Model["selectedCampaign"].Balance</span> of $@Model["selectedCampaign"].Goal Goal</h3>
      <h3>Campaign End Date: <span>@(Model["selectedCampaign"].End.ToString("d"))</span></h3>
      <a href="#donate" name="donate">Support this cause!</a>
      <div class="userButtons">
        <button type="button" name="button">Edit</button>
        <button type="button" name="button">Delete</button>
      </div>
    </article>
  </div>
  <div class="theTabs">
    <div class="mainTabs">
      <input type="radio" id="tab-1" name="show" checked/>
      <input type="radio" id="tab-2" name="show" />
      <input type="radio" id="tab-3" name="show" />
      <input type="radio" id="tab-4" name="show" />
      <div class="tab">
        <label for="tab-1">Campaign</label>
        <label for="tab-2">Updates</label>
        <label for="tab-3">Comments</label>
        <label for="tab-4">Donate</label>
      </div>
      <div class="content">
        <div class="content-dis">
          <p>@Model["selectedCampaign"].Description</p>
        </div>
        <div class="content-dis"><p>this is where the updats will be displayed</p></div>
        <div class="content-dis"><p>these are alll the comments</p></div>
        <!-- this a href is not working -->
        <div class="content-dis" id="donate" >
          <p>form for donations... </p>
          <form action="/campaign/@Model["selectedCampaign"].Id" method="post">
            <div class="form-group">
              <label for="money">Enter your donation:</label>
              <input class="form-control" type="number" name="money" placeholder="$..." required>
            </div>
            <div class="person">
              <div class="forPhoto">
                <img src="http://via.placeholder.com/40x40" alt="" />
                <h4><a href="#">Add a photo!</a></h4>
              </div>
              <div class="forComment">
                <label for="comment">Leave a comment:</label>
                <textarea name="comment" rows="4" cols="40"></textarea>
              </div>
            </div>
            <button type="submit" name="button">Donate!</button>
          </form>
        </div>
      </div>
    </div>
    <div class="donators">
      @foreach(var donation in @Model["donations"])
      {
        <div class="donator">
          <img src="http://via.placeholder.com/60x60" alt="" />
          <h1>@donation["name"]</h1>
          <h2>$@donation["donationAmount"]</h2>
          <h3>@donation["donationDate"]</h3>
        </div>
      }
    </div>
  </div>
</section>
<footer>
  <div class="footerLogo">
    <a href="index.html"><img src="../Content/img/logo.png" class="logo" alt="logo"></a>
  </div>
  <ul id="navFooter">
    <li><a href="#"><img src="../Content/img/twitter.png" alt="" /></a></li>
    <li><a href="#"><img src="../Content/img/facebook.png" alt="" /></a></li>
    <li><a href="#"><img src="../Content/img/tumblr.png" alt="" /></a></li>
    <li><a href="#"><img src="../Content/img/instagram.png" alt="" /></a></li>
    <li><a href="#"><img src="../Content/img/pinterest.png" alt="" /></a></li>
    <li><a href="#"><img src="../Content/img/youtube.png" alt="" /></a></li>
    <li><a href="#"><img src="../Content/img/github.png" alt="" /></a></li>
  </ul>
</footer>
