@{
  Layout="Shared/_Layout.cshtml";
}
<section>
  <div class="categories">
    <ul>
      <li>
        <div><a href="/campaigns"><img src="../Content/img/all.png" alt=""/></a></div>
        <h4>All</h4>
      </li>
      @foreach(var category in @Model["categories"])
      {
        <li>
          <div><a href="/categories/@category.Id/trending"><img src="../Content/img/@(category.Name).png" alt=""/></a></div>
          <h4>@category.Name</h4>
        </li>
      }
    </ul>
  </div>
  <div class="cards">
    @foreach(var campaign in @Model["campaigns"])
    {
      <div class="card">
      <div class="cardImage">
      <img src="#" alt="" />
      </div>
      <div class="cardText">
      <h3>@campaign["name"]</h3>
      <h3>@campaign["campaignDescription"]</h3>
      <h3>@campaign["campaignDonationCount"]</h3>
      </div>
      <a href="/campaign/@campaign["id"]"><button type="button" name="button">Read More</button></a>
      </div>
    }
  </div>
</section>
