@{
  Layout="Shared/_Layout.cshtml";
}
<header>
  <nav>
    <ul id="navLeft">
      <li><a href="#">Search</a></li>
      <li><a href="/campaign_rating">Campaigns</a></li>
    </ul>
    <div>
      <a href="/"><img src="../Content/img/logo.png" class="logo" alt="logo"></a>
    </div>
    <ul id="navRight">
      @if (@Model["currentUser"] != null)
      {
        <li><a href="/profile/@Model["currentUser"].Id">My Profile</a></li>
      }
      <li><a href="/login">Log-In/Sign-Up</a></li>
      <li><a href="/login">Log-Out</a></li>
    </ul>
  </nav>
  <div class="hamburger" id="hamburger">
    <span class="line"></span>
    <span class="line"></span>
    <span class="line"></span>
  </div>
</header>
<div class="hero">
</div>
<section>
  <div class="categories">
    <ul>
      <li>
        <div><a href="/campaigns"><img src="../Content/img/all.png" alt=""/></a></div>
        <h4>All</h4>
      </li>
      @foreach(var category in @Model["categories"])
      {
        <li>
          <div><a href="/categories/@category.Id/trending"><img src="../Content/img/@(category.Name).png" alt=""/></a></div>
          <h4>@category.Name</h4>
        </li>
      }
    </ul>
  </div>

  @if(@Model.ContainsKey("all-campaigns"))
  {
    <div class="cards">
    @foreach(var campaign in @Model["all-campaigns"])
    {
        <div class="card">
          <div class="cardImage">
            <img src="../Content/img/@(campaign.CategoryId).png" alt="" />
          </div>
          <div class="cardText">
            <h3>@campaign.Name</h3>
            <h3>@campaign.Description</h3>
          </div>
          <a href="/campaign/@campaign.Id">Read More</a>
      </div>
    }
  </div>
  }
  @if (@Model.ContainsKey("selectedCampaigns"))
  {
    <div class="cards">
    @foreach(var campaign in @Model["selectedCampaigns"])
    {
        <div class="card">
          <div class="cardImage">
            <img src="#" alt="" />
          </div>
          <div class="cardText">
            <h3>@campaign.Name</h3>
            <h3>@campaign.Description</h3>
          </div>
          <a href="/campaign/@campaign.Id">Read More</a>
      </div>
    }
  </div>
  }
</section>
<footer>
  <div class="footerLogo">
    <a href="index.html"><img src="../Content/img/logo.png" class="logo" alt="logo"></a>
  </div>
  <ul id="navFooter">
    <li><a href="#"><img src="../Content/img/twitter.png" alt="" /></a></li>
    <li><a href="#"><img src="../Content/img/facebook.png" alt="" /></a></li>
    <li><a href="#"><img src="../Content/img/tumblr.png" alt="" /></a></li>
    <li><a href="#"><img src="../Content/img/instagram.png" alt="" /></a></li>
    <li><a href="#"><img src="../Content/img/pinterest.png" alt="" /></a></li>
    <li><a href="#"><img src="../Content/img/youtube.png" alt="" /></a></li>
    <li><a href="#"><img src="../Content/img/github.png" alt="" /></a></li>
  </ul>
</footer>
