@{
  Layout="Shared/_Layout.cshtml";
}
<div class="hero">
</div>
<section>
  <div class="categories">
    <ul>
      <li>
        <div><a href="/campaigns"><img src="../Content/img/all.png" alt=""/></a></div>
        <h4>All</h4>
      </li>
      @foreach(var category in @Model["categories"])
      {
        <li>
          <div><a href="/@category.Id/campaigns"><img src="../Content/img/@(category.Name).png" alt=""/></a></div>
          <h4>@category.Name</h4>
        </li>
      }
    </ul>
  </div>

  
  <h2>Discover these great causes</h2>


  @if(@Model.ContainsKey("all-campaigns"))
  {
    @foreach(var campaign in @Model["all-campaigns"])
    {
      <div class="cards">
        <div class="card">
          <div class="cardImage">
            <img src="#" alt="" />
          </div>
          <div class="cardText">
            <h3>@campaign.Name</h3>
            <h3>@campaign.Description</h3>
          </div>
          <a href="/campaign/@campaign.Id">Read More</a>
      </div>
    </div>
    }
  }
  @if (@Model.ContainsKey("selectedCampaigns"))
  {
    @foreach(var campaign in @Model["selectedCampaigns"])
    {
      <div class="cards">
        <div class="card">
          <div class="cardImage">
            <img src="#" alt="" />
          </div>
          <div class="cardText">
            <h3>@campaign.Name</h3>
            <h3>@campaign.Description</h3>
          </div>
          <a href="/campaign/@campaign.Id">Read More</a>
      </div>
    </div>
    }
  }
</section>
